@import "tailwindcss";

body{
    background:linear-gradient(to bottom right,rgba(0,0,0,0.5),rgba(0,0,0,.2)),url("/bg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #555;
}
::-webkit-scrollbar-thumb{
    @apply bg-slate-900 rounded-md

}

@layer components{
    .bg-glass{
        @apply  bg-clip-padding backdrop-filter backdrop-blur-md hover:bg-gray-600/10 border-gray-800 text-white;
    }
}